@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Montserrat';
}
@media screen and (max-width: 767px){
    .question {
        font-size: 60px;
        font-weight: 700;
        text-align: center;
    }
}

@media screen and (max-width)
